@import 'sass/variables.scss';

.player {
	width: 100vw;
	border-top: 1px solid rgba(0,0,0,0.2);
	/* background-color: $theme-light-player-background-color; */
	background-color:  rgba(1,118,229,1);
	background: linear-gradient(90deg, rgba(1,118,229,1) 0%, rgba(12,40,80,1) 47%, rgba(12,40,80,1)  100%);
	height: 90px;
	

	transition: width 0.7s;

	position: absolute;
	bottom: 60px;
	right: 0px;
}
.controls {
	white-space:nowrap;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	flex: 2;
}
.playingPreview {
	height: 90px;
	display: flex;
	text-decoration: none;
}
.playingText {
	display: flex;
	flex: 2;
	flex-direction: column;
	justify-content: center;
	height: 90px;
}
.coverContainer {
	transition: all 0.7s;

	max-width: 400px;
	max-height: 400px;

	position: relative;
}
.coverContainer video {
	background-color: #000000;
	width: 100%;
	height: 100%;
	z-Index: 5;
}
.coverContainer .fullscreenIcon {
	position: absolute;
	width: 32px;
	height: 32px;
	right: 10px;
	top: 10px;
	display: none;
	z-Index: 6;
}
@media (any-hover: hover) {
	.coverContainer:hover .fullscreenIcon {
		display: block;
	}
}
.fullscreenIcon svg {
	width: 32px;
	height: 32px;
	fill: #FFFFFF;
}
.cover {
	height: 100%;
	width: 100%;

	transition: all 0.5s;
}
.author {
	color: rgba(255,255,255,0.6);
	font-size: 12px;
}
.title {
	color: rgba(255,255,255,1);
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin-right: 10px;
}
.volumeControls {
	min-width: 70px;
	width: 100px;
	margin-top: 6px;
	margin-left: 8vw;
	margin-right: 50px;
	display: flex;
}
.volumeControls svg {
	margin-right: 10px;
	fill: rgba(255,255,255,0.7);
}
.progressBarOuter {
	width: 100%;
	max-width: 800px;
}
.progress {
	margin-top: 6px;
	margin-bottom: 0px;
	display: flex;
	justify-content: center;
}
.progressText {
	margin-right: 10px;
	font-size: 14px;
	color: rgba(255,255,255,0.9);
	align-self: center;
}
.durationText {
	margin-left: 10px;
	font-size: 14px;
	color: rgba(255,255,255,0.8);
	align-self: center;
}
.audioButtons {
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.playButton, .pauseButton {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;

	min-width: 60px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	overflow: hidden;
	background-color: #0176e5;
	/* background-color: rgba(0,0,0,0.5); */
	border-radius: 50%;
	padding: 15px;
	
	transition: all 0.4s;
}
.playButton svg {
	fill: #FFFFFF;
    position: relative;
    left: 2px;
}
.pauseButton svg {
	fill: #FFFFFF;
	right: 3px;
	width: 21px;
}
.backwardButton, .fastBackwardButton, .forwardButton, .fastForwardButton, .moreControlsButton {
	display: inline-block;

	margin-right: 15px;
	margin-left: 15px;
	
	width: 40px;
	height: 40px;
	
	display: flex;
	justify-content: center;
	align-items: center;
	
	border-radius: 50%;
	transition: all 0.1s;
}
.backwardButton {
	margin-right: 20px;
}
.forwardButton {
	margin-left: 20px;
}
.backwardButton svg, .fastBackwardButton svg, .forwardButton svg, .fastForwardButton svg, .moreControlsButton svg {
	fill: rgba(255,255,255,0.8);
	position: relative;
}
.backwardButton svg, .forwardButton svg {
	width: 30px;
	height: 30px;
}
.moreControlsButton svg, .fastForwardButton svg, .fastBackwardButton svg {
	width: 20px;
	height: 20px;
}
@media (any-hover: hover) {
	.playButton:hover, .pauseButton:hover {
		background-color: #1180e7;
		transform: scale(1.1);
	}
	.backwardButton:hover svg, .fastBackwardButton:hover svg, .forwardButton:hover svg, .fastForwardButton:hover svg, .moreControlsButton:hover svg {
		fill: #FFFFFF;
	}
	.backwardButton:hover, .fastBackwardButton:hover, .forwardButton:hover, .fastForwardButton:hover, .moreControlsButton:hover {
		background-color: #0153a3;
		transform: scale(1.3);
	}
}
/************************
* Playertrack animation
************************/
:global {
	#rrp-fill {
		/*
	    background: linear-gradient(269deg, #23a564, #6cf2ae, #23a564) !important;
	    background-size: 600% 600%;

	    animation-fill-mode: forwards;
	    animation-iteration-count: infinite;
	    animation-name: playerTrack;
	    */
	}
}
@keyframes playerTrack {
    0%{background-position:0% 51%}
    100%{background-position:100% 50%}
}
/************************
* Responsive
************************/
/*
@media only screen and (max-width: 1200px) {
	.playing {
		width: 33vw;
		margin-right: 8vw;
		min-width: 33vw;
	}
}
*/
@media only screen and (min-width: 900px) {
	.playingPreview {
		/* width: 400px;*/
		margin-right: 100px;
	}
	.audioButtons {
		padding-left: 40px;
	}
	.coverContainer {
		background-color: #000000;
		position: absolute;
		bottom: 20px;
		left: 10px;
		width: 100px;
		height: 100px;
		max-width: 100px;
		max-height: 100px;
		border: 2px solid #FFFFFF;
		/* outline: 1px solid rgba(0,0,0,0.7); */
		z-index: 10;
	}
	@media (any-hover: hover) {
		.episodeClosed {
			.coverContainer:hover {
				width: 600px;
				height: 600px;
				max-width: 600px;
				max-height: 600px;
			}
			.coverContainer:hover * {
				font-size: 14px;
			}
		}
	}
	.cover {
		width: 100%;
		height: 100%;
	}
}
@media only screen and (max-width: 900px) {
	.episodeClosed {
		.controls {
			display: flex;
			flex-direction: column;
		}
		.progress {
			display: flex;
			margin-right: 10px;
		}
		.progressBarOuter {
			width: 40vw;
		}
		.coverContainer {
			width: 88px;
			height: 88px;
			max-width: 88px;
		}
		.cover {
			width: 80px;
			height: 80px;
			margin-left: 5px;
			margin-top: 5px;
			border-radius: 5px;
		}
		&.player {
			display: block;
			background: none;
			background-color: #174ea1;
			height: 90px;
		}
		.playingPreview {
			width: 100%;
			height: 20px;
			margin-right: 0px;
		}
		.playingText {
			width: 100px;
			height: 40px;
			font-size: 14px;
			display: flex;
			margin-right: 5px;
			margin-left: 20px;
			display: flex;
			justify-content: center;
			height: 60px;
		}
		.playingText .author, .playingText .title {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		.playingText .title {
			font-size: 15px;
		}
		.volumeControls {
			display: none;
		}

		.fastBackwardButton, .forwardButton, .fastForwardButton {
			
		}
	}
}
.bottomProgressBar {
	height: 0px;
	overflow: hidden;
	transition: all 0.2s;
}
.bottomProgressBarInner {
	background-color: #27bd72;
}
.episodeClosed {
	.coverContainer {
		overflow: hidden;
	}
	.coverContainer * {
		font-size: 9px;
	}
	@media (min-width: 900px) {
		.playingText {
			margin-left: 140px;
		}
	}
	@media only screen and (max-width: 360px) {
		.fastBackwardButton, .fastForwardButton {
			width: 0 !important;
		}
	}
	@media only screen and (max-width: 400px) {
		.fastBackwardButton {
			width: 0 !important;
		}
	}
	@media only screen and (max-width: 570px) {
		.controls {
			display: flex;
			flex-direction: column;
		}
		.coverContainer {
			width: 58px;
			height: 58px;
		}
		.cover {
			width: 50px;
			height: 50px;
		}
		.backwardButton, .fastBackwardButton, .forwardButton, .fastForwardButton {
			margin: 0px;
		}
		.progress {
			display: none !important;
		}
		.pauseButton, .playButton {
			width: 55px;
			height: 55px;
			min-width: 55px;
			margin-right: 12px;
		}

		&.player {
			height: 60px;

			.backwardButton, .fastBackwardButton, .forwardButton, .fastForwardButton {
				transition: all 0.3s;
				overflow: hidden;
			}
			.playingText {
				transition: all 0.3s;
			}
		}
		&.player.playing {
			.playingPreview {
				width: auto;
				max-width: 60px;
			}
			.playingText {
				opacity: 0;
				width: 0px;
				margin: 0px;
				flex: 0 1 auto;
			}
			.backwardButton, .fastBackwardButton, .forwardButton, .fastForwardButton {
				width: 60px;
			}
		}
		&.player.notPlaying {
			.audioButtons {
				flex-direction: row-reverse;
			}
			.backwardButton, .fastBackwardButton, .forwardButton, .fastForwardButton, .moreControlsButton {
				width: 0px;
			}
			.controls {
				width: 90px;
			}
		}
		.bottomProgressBar {
			height: 1px;
			background-color: rgba(0,0,0,0.4);
		}
	}

	@media only screen and (min-width: 670px) {
		.backwardButton {
			/* width: auto !important; */
		}
	}
	@media only screen and (max-width: 380px) {
		.fastBackwardButton {
			width: 0px;
		}
	}
}
/*********************************************************
* The "Open Episode" version of the player
*********************************************************/
.player.episodeOpen {
	/* height: calc(100% - 24px); */
	position: absolute;
	bottom: 0px;
	right: 0px;
	max-height: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 15px 15px 0px 0px;
	background:  rgba(1,118,229,1);
	z-Index: 9999;
	overflow: auto;

	.subtitleContainer {
		margin-bottom: 20px;
	}
	.wave {
		position: relative;
		bottom: 1px;
	}
	.playingText {
		height: auto;
		margin-top: 20px;
		text-align: center;
	}
	.controls {
		width: 100%;
		margin-bottom: 20px;
	}
	.progressText {
		margin-left: 10px;
	}
	.durationText {
		margin-right: 10px;
	}
	.playingPreview {
		display: block;
		margin-right: 0px;
		height: auto;
	}
	.episodeInfo {
		width: 100%;
		background-color: #FFFFFF;
		padding-bottom: 60px;
	}
	.coverContainer {
		position: relative;
		top: 0px;

		width: 90vw;
		height: 90vw;

		border-radius: 10px;
		overflow: hidden;

		margin-top: 20px;

		margin-left: auto;
		margin-right: auto;

		max-width: 400px;
		max-height: 400px;

		background-color: #000000;
		border: 2px solid #FFFFFF;

		z-index: 10;
	}
	.fillerButton {
		width: 25px;
		margin-right: 15px;
		margin-left: 15px;
	}
	.audioButtons {
		margin-top: 5px;
	}
	.playButton, .pauseButton {
		background-color: #FFFFFF;
		svg {
			fill: #0176e5;
		}
	}
	@media only screen and (max-width: 460px) {
		.backwardButton, .fastBackwardButton, .forwardButton, .fastForwardButton, .moreControlsButton {
			margin-left: 10px;
			margin-right: 10px;
		}
	}
}
@media only screen and (min-width: 900px) {
	.player {
		bottom: 0px;
	}
	.player.episodeOpen {
		width: calc(100vw - 450px);
		border-radius: 15px 0px 0px 0px;
	}
	.audioButtons {
		position: relative;
		bottom: 5px;
	}
}
.openPlayerBackground {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	top: 0px;
	left: 0;
	height: 100%;
	width: 100%;

	transition: all 0.7s;
	
	animation: fadeIn ease 0.7s;

	z-index: 1;
}
@keyframes fadeIn {
	0% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
  }
  @keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}