.searchFieldOuter {
	display: block;
	position: relative;
	
	width: 100%;
	margin-right: 5px;
	transition: all 0.4s;
}
.searchFieldOuter:focus-within {
	transform: scale(1.1);
}
.searchIcon {
	position: absolute;
	pointer-events: none;
	top: 7px;
	left: 8px;
}
.searchIcon svg {
	fill: #BBBBBB;
}
.searchField {
	display: block;
	width: 100%;
	min-width: 100px;
	max-width: 800px;
	padding: 6px;
	padding-top: 7px;
	font-size: 14px;
	background-color: #FFFFFF;
	padding-left: 40px;
	border-radius: 15px;
	border-width: 0px;
	margin-top: 1px;
	color: #666666;

	user-select: auto;
}
.searchField::placeholder {
	color: #cecece;
	transition: all 1s;
}
.searchFieldOuter:focus-within .searchField::placeholder {
	color: #666666;
}
.searchField:focus {
	border: 1px solid rgba(0,0,0,0.4);
	outline: 0px solid #0176e5;
	
}
@media only screen and (max-width: 540px) {
	.searchField {
		height: 40px;
		font-size: 18px;
	}
	.searchIcon {
		top: 12px;
	}
}
/*
@media only screen and (max-width: 320px) {
	.searchField {
		width: 190px;
		transition: all 0.4s;
	}
	.searchField:focus {
		width: 230px;
	}
}
*/