.sideBar {
	/*background-color: #ffffff;
	background-color: #0176e5;*/
	
	/* padding: 10px; */
	
	flex-basis: auto;
	/* flex-grow: 1; */
}
.sideBar a {
	text-decoration: none;
	color: #FFFFFF;
}
.favoritesHeadline {
	display: none;
	margin-bottom: 3px;
	background-color: #EEEEEE;
	padding: 6px;
}
.panes {
	display: flex;
	height: 100%;
}
.categories hr {
	width: 90%;
	height: 1px;
	background-color: rgba(255,255,255,0.4);
	border: 0;
}
.category, .selectedCategory, .mainNavigationButton {
	display: block;
	padding-top: 5px;
	padding-bottom: 9px;
	padding-left: 20px;
	padding-right: 20px;
	margin-bottom: 3px;
	font-size: 14px;
	color: #FFFFFF;
	transition: 0.3s all ease;

	cursor: pointer;
}
.mainNavigationButton:hover {
	background-color: rgba(255,255,255,0.2);
}

.category svg, .selectedCategory svg, .mainNavigationButton svg {
	fill: #FFFFFF;
	position: relative;
	top: 3px;
	margin-right: 10px;
	transition: fill 0.3s ease;
}
.selectedCategory svg {
	fill: #FFFFFF;
}
.selectedCategory {
	background-color: rgba(0,0,0,0.2);

}


.categories {
	/* border-right: 1px solid #dee6ee; */
	flex: 1;
	display: flex;
	flex-direction: column;
}
.categoryList {
	margin-top: 30px;
	flex: 1;
}
.addMoreButton {
	display: inline-block;
	color: #999999;
	background-color: #EEEEEE;
	padding: 7px;
	font-size: 12px;
	margin-top: 7px;
	margin-left: 11px;
}
.addMoreButton svg {
	fill: #999999;
	position: relative;
	top: 1px;
}
.podcasts {
	margin-top: 16px;
	display: flex;
	flex-direction: column;
	width: 250px;
	box-shadow: -4px 3px 8px 1px rgba(0,0,0,0.35);
	border-radius: 10px 0px 0px 0px;
}
.podcastHeader {
	padding: 10px;
	padding-top: 11px;
	padding-bottom: 9px;
	height: 40px;
	background-color: #eeeeee;
	border-bottom: 1px solid #CCCCCC;
	
	border-radius: 10px 0px 0px 0px;
}
.filter {
	background-color: #EEEEEE;
	border-top: 1px solid #CCCCCC;
	padding: 6px;
	padding-bottom: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
}
.filter label {
	position: relative;
	bottom: 4px;
	margin-left: 10px;
}
.podcastList {
	flex: 1;
	background-color: #f5f9fb;
	overflow: auto;
	padding-top: 6px;
	padding-bottom: 90px;
}

@media only screen and (max-width: 899px) {
	.categories {
		display: none;
	}
	.podcasts {
		display: none;
	}
	.sideBar {
		min-width: 50px;
		width: 50px;
		
		overflow: hidden;
		display: none;
	}
}
@media only screen and (min-width: 900px) {
	.sideBar {
		min-width: 450px;
		max-width: 450px;
	}
}
@media only screen and (max-width: 600px) {
	.sideBar {
		display: none;
	}
}