.filterBar {
	display: flex;
	align-items: center;
	background-color: #f6f6f6;
	border-bottom: 1px solid #eeeeee;
}
.filterItem {
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.filterItem select {
	height: 30px;
	font-size: 14px;
	padding-left: 10px;
	padding-right: 10px;
}
.filterItem option {
	font-size: 14px;
}
.filterItem label {
	font-size: 14px;
}
.episodeList {
	flex: 1;
}
.episodeList label {
	display: block;
	padding: 20px;
}
.listenedToAll svg {
	fill: #FFFFFF;
}
.episode, .episodePlaying {
	min-height: 50px;
	display: flex;
	flex: 1;
	background-color: #FFFFFF;
	transition: all 1s;
	border-bottom: 2px solid #EEEEEE;
}
.episode:hover {
	/* border: 1px solid #DDDDDD; */
	background-color: #F0F0F0;
}
.episode.listened {
	background-color: #FFFFFF;
}
.episodePlaying, .episodePlaying:hover {
	/* border: 1px solid #bdd7ef; */
	background-color: #0176e5 !important;
}
.episodeInfo {
	padding: 20px;
	flex: 1;
}
.mobileHeader {
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 20px;
	color: #000000;
}
.header {
	display: none;
	flex: 1;
	margin-bottom: 5px;
}
.playHeader {
	width: 35px;
}
.titleAndDescriptionHeader {
	width: 500px;
	padding-left: 20px;
}
.progressHeader {
	width: 120px;
	padding-left: 20px;
	color: #BBBBBB;
}
.dateHeader {
	width: 200px;
	padding-left: 20px;
	color: #BBBBBB;
}
.durationHeader {
	width: 100px;
	padding-left: 20px;
	color: #BBBBBB;
}
.play {
	min-width: 55px;
	max-width: 55px;
	padding-top: 15px;
	padding-left: 20px;
}
.icon {
	border-radius: 50%;
	background-color: #cccccc;
	border: 2px solid #cccccc;
	width: 30px;
	height: 30px;
	padding: 10px;
	padding-top: 10px;
	transition: all 0.4s;
}
.icon:hover {
	transform: scale(1.2);
}
.playIcon, .pauseIcon {
	background-color: #0176e5;
	border: 2px solid #0176e5;
}
.playIcon svg, .pauseIcon svg {
	fill: #FFFFFF;
}
.episode.listened .icon {
	background-color: #28bd72;
	border: 2px solid #28bd72;
}
.episode.listened .checkIcon svg {
	fill: #FFFFFF;
}

.checkIcon svg {
	position: relative;
	bottom: 4px;
	right: 3px;
}
.playIcon svg {
	position: relative;
	bottom: 5px;
	right: 2px;
}
.pauseIcon svg {
	position: relative;
	bottom: 5px;
	right: 4px;
}

.checkIcon svg {
	fill: #95959e;
}

.episode.hidden {
	display: none;
}

.episode .checkIcon, .episode .pauseIcon {
	display: none;
}

.episode.episodePlaying.isPlaying .checkIcon {
	display: none;
}
.episode.episodePlaying.isPlaying .playIcon {
	display: none;
}
.episode.episodePlaying.isPlaying .pauseIcon {
	display: block;
}

.titleAndDescription {
	padding-right: 60px;
}
.title {
	color: #1f335e;
	font-weight: bold;
	margin-bottom: 10px;
	display: inline-block;
}
.episodeType {
	display: inline-block;
	background-color: #a601e5;
	padding: 4px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 10px;
	text-transform: uppercase;
	color: #FFFFFF;
	margin-left: 10px;
	border-radius: 5px;
}
.episodeType[type="bonus"] {
	background-color: #a601e5;
	color: rgba(255,255,255,1);
	
}
.episodeType[type="trailer"] {
	background-color: #DDDDDD;
	color: rgba(0,0,0,0.9);
}
/*
.listenedIcon {
	position: relative;
	top: 1px;
	width: 20px;
	height: 17px;
	
	margin-left: 7px;
}
*/
.titleAndDescriptionHeader .title {
	font-weight: normal;
	margin-bottom: 0px;
	color: #BBBBBB;
}
.progress {
	margin-top: 10px;
	display: flex;
}
.progressBarOuter {
	background-color: #CCCCCC;
	height: 10px;
	width: 100px;
	margin-top: 2px;
}
.progressBarInner {
	background-color: #0176e5; /* rgba(75,205,14,0.7); */
	height: 10px;
}
.duration {
	font-size: 13px;
	margin-left: 10px;
}
.date {
	font-size: 12px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.agoText {
	color: #BBBBBB;
	font-size: 12px;
	margin-left: 10px;
}
.description {
	font-size: 14px;
	
	max-height: 75px;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical; 
	text-overflow: ellipsis;
	overflow: hidden;
	
	transition: all 2s;
}


.episodePlaying .date {
	color: #FFFFFF;
}
.episodePlaying .agoText {
	color: #EEEEEE;
}
.episodePlaying .title {
	color: #FFFFFF;
}

.episodePlaying .playIcon, .episodePlaying .pauseIcon {
	border: 2px solid #FFFFFF;
}
.episodePlaying .playIcon svg, .episodePlaying .pauseIcon svg {
	fill: #FFFFFF;
}

.episodePlaying .description {
	color: #FFFFFF;
	max-height: 250px;
	display: -webkit-box;
	-webkit-line-clamp: 16;
	-webkit-box-orient: vertical; 
	text-overflow: ellipsis;
	overflow: hidden;
}
.episodePlaying .progressBarOuter {
	background-color: #FFFFFF;
}
.episodePlaying .progressBarInner {
	background-color: #5cb85c;
}
.episodePlaying .duration span {
	color: #FFFFFF;
}

@media only screen and (max-width: 590px) {
	.episodePlaying, .episode {
		display: block;
		padding: 10px;
	}
	.duration {
		width: 100%;
	}
	.progressBarOuter {
		width: 100%;
	}

}