.persons {
	width: 100%;
	max-height: 150px;
	overflow-x: auto;
	overflow-y: hidden;

	display: flex;
	flex-direction: row;

	.person {
		margin-right: 30px;
		margin-bottom: 10px;

		cursor: pointer;

		display: flex;
		flex-direction: column;

		justify-content: center;
		align-items: center;

		.photo {
			width: 90px;
			height: 90px;
			border-radius: 50%;
			margin-bottom: 5px;
		}
		.name {
			color: #000000;
		}
		.role {
			font-size: 16px;
		}
	}
}
.persons::after {
	content: "";
	clear: both;
	display: table;
}