.podcastPane {
	width: 100%;

	display: flex;
	flex-direction: column;
	background-color: #FFFFFF;
}
.mainInfo {
	background-size: cover;
	background-position: 30% 20%;
	background-color: #0176e5;
	background-blend-mode: lighten;
}
.mainInfoInner {
	border-radius: 20px 0px 0px 0px;
	display: flex;
	flex-direction: row;
	padding-bottom: 20px;
}
.podcastCover {
	width: 19vw;
	height: 19vw;
	margin-left: 30px;
	margin-top: 30px;
	
	box-shadow: 0px 0px 39px -12px rgba(0,0,0,0.75);
	border-radius: 15px;
	border: 5px solid #FFFFFF;
}
.starRating {
	margin-left: 30px;
	margin-bottom: 10px;
}
.podcastInfo {
	margin: 30px;
}
.podcastName {
	font-size: 36px;
	font-weight: bold;
	color: #FFFFFF;
	margin-bottom: 5px;
	
	position: relative;

	z-index: 5;
}
.author {
	display: flex;
}
.middot {
	color: rgba(255,255,255,0.8);
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
}
.authorLink {
	color:  rgba(255,255,255,0.8);
	margin-bottom: 20px;
	text-decoration: none;
	display: block;
}
.author svg {
	fill: rgba(255,255,255,0.8);
	position: relative;
	top: 2px;
}
.author a {
	text-decoration: none;
}
.author a:hover {
	text-decoration: underline;
}
.podcastWebsiteLink {
	color:  rgba(255,255,255,0.8);
	cursor: pointer;
}
.podcastWebsiteLink:hover {
	border-bottom: 1px solid  rgba(255,255,255,0.8);
}
.description {
	max-width: 600px;
	text-align: justify;
	line-height: 22px;
	margin-bottom: 20px;
	color: #FFFFFF;
}
.description em {
	color: #FFFFFF;
	font-style: italic;
}
.episodeDivider {
	background-color: #FFFFFF;
}

.podcastContent {
	
}
/********************************
* Tabs
********************************/
.episodeTab {
	display: flex;
	flex-direction: row;
}
.episodeColumn {
	flex: 1;
	background-color: #FFFFFF;
}
.knowledgeGraph {
	width: 250px;
	border-left: 1px solid #cccccc;
}


.archiveButton {
	position: relative;
	background-color: #4c749a;
	border: 0px;
	padding: 15px;
	color: #FFFFFF;
	font-size: 16px;
	display: inline-block;
	transition: all .2s;
}
.archiveButton:hover {
	background-color: #3474b1;
	transform: scale(1.1);
}
.archiveButton svg {
	fill: #FFFFFF;
	position: relative;
	top: 2px;
	margin-right: 10px;
	transition: all 0.5s;
}
.archiveButton:hover svg {
	fill: #bc9671;
}
.toolTipText {
	width: 400px;
}
.toolTipText p {
	font-size: 14px;
}

@media only screen and (min-width: 1500px) {
	.podcastCover {
		width: 300px;
		height: 300px;
	}
}
@media only screen and (max-width: 1199px) {
	.podcastCover {
		width: 300px;
		height: 300px;
	}
}
@media only screen and (max-width: 900px) {
	.podcastCover {
		width: 33vw;
		height: 33vw;
	}
}
@media only screen and (max-width: 770px) {
	.archiveButton {
		width: 100%;
		text-align: center;
	}
}
/*
@media only screen and (max-width: 590px) {
	.mainInfo {
		display: block;
	}
	.podcastCover {
		width: 250px;
		height: 250px;
	}
	.starRating {
		margin-left: 20px;
	}
}
*/
@media only screen and (max-width: 600px) {
	.podcastPane .mainInfo {
		background-image: none !important;
	}
	.podcastPane .mainInfoInner {
		flex-direction: column;
		border-radius: 0px;
		backdrop-filter: none;
		background-color: #164c9f;
	}
	.podcastCover {
		width: 100%;
		height: auto;
		margin: 0px;
		box-shadow: none;
	}
	.podcastInfo {
		margin: 20px;
	}
	.podcastName {
		font-size: 20px;
		font-weight: bold;
		color: #FFFFFF;
		margin-bottom: 5px;
		text-shadow: none;
	}
	.podcastName:before {
		content: '';
	}
	.episodeList {
		padding: 0px;
	}
}
@media only screen and (min-width: 900px) and (max-width: 1100px)  {
	.podcastCover {
		width: 12vw;
		height: auto;
	}
}