.podcastPane {
	width: 100%;

	height: calc(100% - 90px);

	overflow: auto;

	background-color: #0176e5;

	position: relative;
}
@media only screen and (max-width: 570px) {
	.podcastPane {
		height: calc(100% - 60px);
	}
}
/********************************
* Tabs
********************************/
.episodeTab {
	display: flex;
	flex-direction: row;
}
.episodeColumn {
	flex: 1;
	background-color: #FFFFFF;
}
.knowledgeGraph {
	width: 250px;
	border-left: 1px solid #cccccc;
}




@media only screen and (min-width: 1500px) {
	.podcastCover {
		width: 300px;
		height: 300px;
	}
}
@media only screen and (max-width: 1199px) {
	.podcastCover {
		width: 300px;
		height: 300px;
	}
}
@media only screen and (max-width: 900px) {
	.podcastCover {
		width: 33vw;
		height: 33vw;
	}
}
@media only screen and (max-width: 770px) {
	.archiveButton {
		width: 100%;
		text-align: center;
	}
}
/*
@media only screen and (max-width: 590px) {
	.mainInfo {
		display: block;
	}
	.podcastCover {
		width: 250px;
		height: 250px;
	}
	.starRating {
		margin-left: 20px;
	}
}
*/
@media only screen and (max-width: 600px) {
	.podcastPane .mainInfo {
		background-image: none !important;
	}
	.podcastPane .mainInfoInner {
		flex-direction: column;
		border-radius: 0px;
		backdrop-filter: none;
		background-color: #164c9f;
	}
	.podcastCover {
		width: 100%;
		height: auto;
		margin: 0px;
		box-shadow: none;
	}
	.podcastInfo {
		margin: 20px;
	}
	.podcastName {
		font-size: 20px;
		font-weight: bold;
		color: #FFFFFF;
		margin-bottom: 5px;
		text-shadow: none;
	}
	.podcastName:before {
		content: '';
	}
	.episodeList {
		padding: 0px;
	}
}
@media only screen and (min-width: 900px) and (max-width: 1100px)  {
	.podcastCover {
		width: 12vw;
		height: auto;
	}
}