.subscribeButton {
	background-color: #28bd72;
	border: 0px;
	padding: 15px;
	color: #FFFFFF;
	font-size: 16px;
	transition: all .2s;
	border-radius: 5px;
}
.subscribeButton svg {
	fill: #FFFFFF;
	position: relative;
	top: 2px;
	margin-right: 10px;
	transition: all 0.5s;
}
@media (any-hover: hover) {
	.subscribeButton:hover {
		background-color: #11de77;
		transform: scale(1.1);
	}
	.subscribeButton:hover svg {
		fill: #FF0000;
	}
}
@media only screen and (max-width: 770px) {
	.subscribeButton {
		width: 100%;
		text-align: center;
	}		
}