.noPodcastsMessage {
	font-size: 16px;
	padding: 20px;
	color: #AAAAAA;
}
.favoriteList {
	background-color: #f5f9fb;
	min-height: 100%;
}
.favoriteList:after {
	content: "";
	clear: both;
	display: table;
}

.favoriteList::-webkit-scrollbar {
	width: 10px;
}
.favoriteList::-webkit-scrollbar-thumb {
  background:rgba(0,0,0,0);
  height: 20%;
  border-radius: 15px;
}
.favoriteList::-webkit-scrollbar-track {
  background: transparent;
}
.favoriteList:hover::-webkit-scrollbar-thumb {
	background: rgba(0,0,0,0.2);
}

.checkingChanges {
	margin-left: 8px;
	margin-right: 2px;
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;

	display: flex;
	justify-content: flex-start;
	align-items: center;

	color: #999999;

	.loadingIndicator {
		width: 48px;
		height: 64px;
		margin-right: 10px;
		opacity: 0.5;
		filter: grayscale(100%);
	}
}

.podcast, .podcastPlaying, .podcastSelected, .podcastHidden {
	text-decoration: none;
	font-size: 12px;
	display: flex;
	
	height: 70px;
	
	margin-left: 8px;
	margin-right: 2px;
	margin-bottom: 1px;
	padding: 5px;
	padding-left: 6px;

	border-radius: 5px;
	
	transition: all 0.3s;
}
@media (any-hover: hover) {
	.podcast:hover {
		background-color: #E0E0E0;
	}
}
/*
.podcastArchived {
	img {
		filter: grayscale(60%);
	}
}
*/
.podcastHidden {
	height: 0px;
	padding: 0px;
	border: 0px;
}
.podcastSelected {
	background-color: rgba(1,118,229,0.9);
}
.podcastPlaying {
	background-color: rgba(1,118,229,0.6);
}
.podcastDetails {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 9px;
	width: 200px;
	overflow: hidden;
}
.cover {
	min-width: 60px;
	min-height: 60px;
	max-width: 60px;
	max-height: 60px;
	width: 60px;
	height: 60px;
	border-radius: 5px;

	box-shadow: 0px 0px 39px -12px rgba(0,0,0,0.15);
}
.podcastName {
	-webkit-text-stroke: 0.3px #333333;
	
	font-size: 15px;
	color: #333333;
	/* border-bottom: 1px solid rgba(0,0,0,0.1); */

	margin-bottom: 3px;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical; 
	text-overflow: ellipsis;
	overflow: hidden;
}
.episodesInfo {
	
}
.podcastPlaying .podcastName, .podcastSelected .podcastName {
	-webkit-text-stroke: 0px #FFFFFF;
	color: #FFFFFF;
}
.podcastPlaying .episodesInfo, .podcastSelected .episodesInfo {
	color: #EEEEEE;
}
.podcastHidden {
	overflow: hidden;
}
.podcastHidden .podcastDetails {
	height: 0px;
}


.showResponsive {
	padding: 10px;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));

	background-color: #FFFFFF;

	.podcast, .podcastPlaying, .podcastSelected {
		display: flex;
		flex-direction: column;
		/*
		max-width: 29vw;
		height: 47vw;
		*/
		height: auto;
		max-height: none;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 5px;
		padding: 5px;
	}
	.podcastDetails {
		width: auto;
		padding: 0px;
		text-align: left;
		padding-left: 1vw;
		padding-right: 1vw;
	}
	.podcastDetails .podcastName {
		margin-top: 2vw;
		-webkit-line-clamp: 3;
		font-size: 16px;
		letter-spacing: 0.5px;
		color: #000000;
		-webkit-text-stroke: 0.2px #000000;
	}
	.cover {
		width: 100%;
		height: auto;
		min-height: none;
		min-width: none;
		max-height: none;
		max-width: none;

		box-shadow: 0px 0px 39px -12px rgba(0,0,0,0.45);
	}
	@media only screen and (max-width: 410px) {
		grid-template-columns: repeat(auto-fill, minmax(145px, 1fr));
	}
}