.contextMenu {
	position: absolute;

	background-color: #ffffff;
	
	border: 1px solid #f0f0f0;
	border-radius: 5px;
	
	box-shadow: 4px 4px 12px -3px rgba(0,0,0,0.65);
	
	opacity: 0.98;
	
	animation: fadein ease 0.6s;
	
	z-Index: 9999999990;
}
@keyframes fadein {
	0% {
		opacity: 0.3;
		transform: translate3d(0px,-10px, 0);
	}
	100% {
		opacity: 0.98;
		transform: translate3d(0px, 0, 0);
	}
}
.contextMenuItem {
	height: 45px;
	min-width: 200px;
	display: flex;
	
	align-items: center;
	justify-content: flex-start;

	color: #333333;
	background-color: #ffffff;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
	text-align: left;
	border-radius: 5px;
}
.contextMenuItem.isLink {
	padding: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.contextMenuItem:hover {
	background-color: #0176e5;
	color: #FFFFFF;
}
.contextMenuItem a {
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: flex-start;

	width: 100%;
	padding: 10px;
	padding-left: 16px;
	padding-right: 16px;
}
.contextMenuItem svg {
	margin-right: 11px;
	fill: #333333;
	height: 20px;
	width: 20px;
}
.contextMenuItem:hover a {
	color: #FFFFFF;
}
.contextMenuItem:hover svg {
	fill: #FFFFFF;
}
@media only screen and (max-width: 540px) {
	.contextMenu {
		margin-left: 2vw;
		top: auto !important;
		left: 0 !important;
		bottom: 0 !important;
		min-height: 200px;
		border-radius: 5px 5px 0px 0px;

		animation: fadein ease 0.3s;
	}
	.contextMenuItem {
		width: 96vw;
		max-width: 96vw;
	}
	@keyframes fadein {
		0% {
			transform: translate3d(0px,200px, 0);
		}
		100% {
			transform: translate3d(0px, 0, 0);
		}
	}
}
/*
.contextMenuItem a {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	
	width: 100%;
	height: 45px;
	min-width: 200px;
	text-decoration: none;

	padding-left: 16px;
	padding-right: 16px;
	
	color: #75757e;
}
.contextMenuItem:hover a {
	color: #FFFFFF;
}
*/