.audioSpeedSettingModal {
	min-width: 320px;
	max-width: 500px;
	text-align: center;
}
.audioSpeedSettingModal h2 {
	font-weight: bold;
	margin: 0px;
	margin-bottom: 5px;
}
.speedRange {
	padding: 20px;
	display: flex;
	align-items: center;
	padding: 25px;
}
.speedRange > div {
	margin: 5px;
	font-weight: bold;
}
.speedButtons {
	margin-bottom: 20px;
}
.speedButtonsTitle {
	margin-bottom: 5px;
}
.speedButton {
	background-color: #DDDDDD;
	color: #999999;
	width: 60px;
	margin-right: 5px;
	margin-bottom: 5px;
	text-align: center;
	padding: 10px;
}
@media (any-hover: hover) {
	.speedButton:hover {
		background-color: #EEEEEE;
	}
}
.closeButtonContainer {
	text-align: right;
}
@media only screen and (min-width: 540px) {
	.audioSpeedSettingModal {
		width: 80vw;
		max-width: 600px;
	}
}