.episodeInfo {
	width: 100%;
	background-color: #FFFFFF;
	padding-bottom: 60px;
	flex: 2;
}
.description {
	padding: 20px;
}
.episodeMasterData {
	padding: 20px;
	padding-bottom: 10px;
}
.valueBar {
	.streamingSatsContainer * {
		color: #FFFFFF;
	}
}