.shareUrlInput {
	width: 640px;
	max-width: 100%;
	padding: 10px;
	font-size: 14px;
	margin-bottom: 10px;
	border-width: 0px;
	background-color: #EEEEEE;
	border-radius: 5px;
}
.instructionLabel {
	margin-bottom: 10px;
	margin-top: 15px;
	font-weight: bold;
}
.episodeTitle {
	margin-bottom: 10px;
}
.shareModal {
	min-width: 320px;
}
.shareModal textarea {
	width: 640px;
	min-height: 160px;
	max-width: 100%;
	padding: 10px;
	border: 0px;
	font-size: 16px;
	line-height: 25px;
	background-color: #EEEEEE;
	border-radius: 5px;
}
.timeCheckbox {
	background-color: #EEEEEE;

	width: 25px;
	height: 25px;
	position: relative;
	top: 6px;

	border: 1px solid #000000;
	border-radius: 10px;
}
.timeCheckbox:checked {

}
.timeStampInput {
	text-align: center;
	width: 80px;
	padding: 10px;
	font-size: 14px;
	border-width: 0px;
	border-radius: 5px;
	background-color: #EEEEEE;
}