.bottomNavigation {
	display: none;
	height: 60px;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: #ffffff;
	/* background-color: #0176e5;*/

	@media only screen and (max-width: 900px) {
		display: flex;

		@supports(padding-bottom:env(safe-area-inset-bottom)) {
			padding-bottom: env(safe-area-inset-bottom);
			height: calc(env(safe-area-inset-top) + 60px);
		}
	}
}
.menuItem {
	flex: 1;
	text-align: center;
	color: #b2b2b4;
	/* color: rgba(255,255,255,0.5); */
	text-decoration: none;
}
.menuItem svg {
	fill: #b2b2b4;
	/* fill: rgba(255,255,255,0.5);*/
}
.menuItemSelected {
	color: #0176e5;
}
.menuItemSelected svg {
	fill: #0176e5;
}