/*******************
Todo: animation der gær venstre side mindre når man trykker
*******************/
.formOuter {
	max-width: 840px;
	display: flex;
	height: 100%;
	max-height: 90vh;
	
	transition: all 1s;

	@media only screen and (max-width: 600px) {
		flex-direction: column;
	}
}
.loginExplanation {
	background-color: #0176e5;
	
	padding: 40px;
	
	width: 400px;
	
	transition: all 1s;

	@media only screen and (max-width: 600px) {
		width: auto;
		/* min-height: 265px; */
	}
	@media only screen and (min-width: 1300px) {
		width: 400px;
	}
}
.loginExplanation h2 {
	margin: 0px;
}
.loginExplanation .logo {
	max-width: 100px;
	max-height: 100px;
	margin-bottom: 20px;
}
.loginExplanationLoading {
	width: 100%;
	transition: all 1s;
}
.loginExplanation .loadingArea {
	text-align: center;
	animation: fadeIn ease 1s;
	
	padding-top: 100px;
	
	width: 350px;
	margin-left: auto;
	margin-right: auto;
}
.loginExplanation .loadingText {
	color: #FFFFFF;
	font-size: 16px;
}
.explanationHeadline {
	color: #FFFFFF;
}
.fadeIn1 {
	animation: fadeIn ease 1s;
}
.fadeIn3 {
	animation: fadeIn ease 3s;
}
.fadeIn5 {
	animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}
.loginFormLoading {
	padding: 0px;
	width: 0px;
	flex: initial;
}
.loginExplanation h2 {
	color: #FFFFFF;
}
.loginExplanation .highlight {
	color: #FFFFFF;
}
.loginExplanation ul {
	padding-left: 20px;
}
.loginExplanation li {
	color: #b5e6ff;
	margin-bottom: 20px;
}
.loginExplanation p {
	color: #b5e6ff;
}
.reason {
	margin-top: 15px;
	display: flex;
}
.reason div {
	color: #ffffff;
	flex: 1;
}
.reason .checkmark {
	max-width: 30px;
	flex: 2;
}