.loginForm {
	padding: 20px;

	transition: all 1s;

	min-width: 320px;
	
	flex: 1;
}
@media only screen and (min-width: 601px) {
	.loginForm {
		overflow: auto;
	}
}
.loginForm h2 {
	color: #1f335e;
	text-align: center;
}
.loginForm .orLine {
	display: flex;
	margin-top: 40px;
}
.loginForm .orLine .orLineHR {
	flex: 4;
}
.loginForm .orLine .orLineHR hr {
	border-top: 1px solid #8c8c8c;
	position: relative;
	top: 1px;
}
.loginForm input[type=submit] {
	-webkit-appearance: none;
	background-color: #0176e5;
	border: 0px;
	padding: 15px;
	color: #FFFFFF;
	font-size: 16px;
	display: inline-block;
	transition: all .2s;
	margin-top: 10px;
	width: 100%;
}
.loginForm .orLine .orLineOr {
	flex: 1;
	width: 30px;
	text-align: center;
	color: #8c8c8c;
}
h3 {
	color: #1f335e;
	font-size: 15px;
	text-align: center;
}
.socialMediaButton {
	display: flex;

	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.socialMediaButton img {
	height: 41px;
	width: 41px;
}
.socialMediaButton div {
	height: 41px;
	vertical-align: middle;
	text-align: center;
	color: #FFFFFF;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	padding-right: 30px;
}
.socialMediaButton .facebook {
	background-color: #3b5998;
}
.socialMediaButton .google {
	background-color: #d34836;
}
.error {
	border: 1px solid #a92334;
	background-color: #be273a;
	
	animation: fadeIn ease 1s;
}
.errorMessage {
	padding: 10px;
	font-size: 12px;
	color: #FFFFFF;
}
.errorInInput input {
	border: 1px solid #ff7700;
	background-color: #ffeac8;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
.fadeIn1 {
	animation: fadeIn ease 1s;
}
.fadeIn3 {
	animation: fadeIn ease 3s;
}
.fadeIn5 {
	animation: fadeIn ease 5s;
}
@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}