.category, .selectedCategory {
	padding-top: 5px;
	padding-bottom: 9px;
	padding-left: 14px;
	padding-right: 14px;
	margin-bottom: 3px;
	font-size: 14px;
	color: #FFFFFF;
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
	transition: 0.3s all ease;
}
.category svg, .selectedCategory svg {
	fill: #FFFFFF;
	position: relative;
	top: 3px;
	margin-right: 5px;
	transition: fill 0.3s ease;
}
.selectedCategory svg {
	fill: #FFFFFF;
}
.selectedCategory {
	background-color: rgba(0,0,0,0.2);

}