:global {
	.appType_browser {
		.appTitleBar {
			@media (max-width: 899px) {
				display: none !important;
			}
		}
	}
}
/*
.titleBar {
	width: 100%;
	height: 40px;
	overflow: hidden;
	
	-webkit-app-region: drag;
	-webkit-user-select: none;
	
	display: flex;
	background-color: rgba(255, 255, 255, 0.5);
	background-color: rgba(31, 51, 94, 0.4);
	border-bottom: 1px solid #EEEEEE;
	
	backdrop-filter: blur(6px);
	position: fixed;
	    
	box-shadow: inset 0 0 40px rgba(255,255,255,0.6);
	
	margin-top: 40px;
}
*/
.titleBar {
	width: 100%;
	height: 50px;
	overflow: hidden;
	
	-webkit-app-region: drag;
	-webkit-user-select: none;
	
	display: flex;
	align-items:center;
	
	/* background-color: rgba(31, 51, 94, 1); */
	/* background-color: rgba(217, 217, 217, 1); */
	/* border-bottom: 1px solid #c0c0c0; */
}
.logoAndTitle {
	margin-left: 7px;
	flex: 1;
	display: flex;
}
.logo {
	width: 32px;
	height: 32px;
	margin-right: 7px;
}
.title {
	flex: 1;
	/* color: #FFFFFF; */
	color: #FFFFFF;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 18px;
	
}
.navigationControls {
	display: flex;
	width: 70px;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
}
.navigationButton, .navigationButtonDisabled {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	-webkit-app-region: no-drag;
	
	transition: all 0.2s;
	background-color: transparent;
}
.navigationButton svg {
	fill: #FFFFFF;
}
@media (any-hover: hover) {
	.navigationButton:hover {
		background-color: #f6f6f6;
	}
	.navigationButton:hover svg {
		fill: #999999;
	}
}
.navigationButtonDisabled svg {
	fill: #016ace;
}
.search {
	-webkit-app-region: no-drag;
	flex: 2;
	
	margin-right: 6px;
	
	display: flex;
	justify-content: center;
	align-items: center;
}
.user {
	margin-right: 10px;
	
	align-items: center;
	justify-content: flex-start;
	
	color: #FFFFFF;
	
	/* background-color: #CECECE; */
}
.windowControls {
	display: flex;
	justify-content: flex-end;
	height: 100%;
}
.windowControls svg {
	fill: #FFFFFF;
}
.macWindowControls {
	display: flex;

	padding-left: 10px;
	padding-right: 10px;

	align-items: center;
	justify-content: center;
}
.macMinimize, .macMaximizeOrNormalize, .macClose  {
	width: 16px;
	height: 16px;
	-webkit-app-region: no-drag;
	border-radius: 50%;
	margin-right: 4px;
}
.macWindowControls .macMinimize {
	background-color: #fdbf41;
}
.macWindowControls .macMaximizeOrNormalize {
	background-color: #34c84a;
}
.macWindowControls .macClose {
	background-color: #fc625d;
}
.minimize, .maximizeOrNormalize, .close {
	width: 50px;
	-webkit-app-region: no-drag;

	display: flex;
	align-items: center;
	justify-content: center;
}
@media (any-hover: hover) {
	.minimize:hover, .maximizeOrNormalize:hover, .close:hover {
		background-color: #f6f6f6;
	}
	.minimize:hover svg, .maximizeOrNormalize:hover svg, .close:hover svg {
		fill: #999999;
	}
}
.minimize {

}
.maximizeOrNormalize {
	
}
.close {
	
}
.navigationButtonBack {
	
}
.navigationButtonForward {
	
}
@media (any-hover: hover) {
	.close:hover {
		background-color: #b13435;
	}
	.close:hover svg {
		fill: #FFFFFF;
	}
}
@media only screen and (max-width: 540px) {
	.titleBar {
		height: 60px;
		padding-left: 10px;
	}
	.logo {
		display: none;
	}
	.title {
		display: none;
	}
	.minimize, .maximizeOrNormalize, .close {
		width: 40px;
	}
	.navigationControls {
		width: 40px;
		margin-right: 5px;
	}
	.navigationButtonForward {
		display: none;
	}
}
@media only screen and (max-width: 440px) {
	.titleBar:focus-within .minimize, .titleBar:focus-within .maximizeOrNormalize, .titleBar:focus-within .close {
		display: none;
	}
}
@media only screen and (max-width: 1000px) {
	
}
@media only screen and (min-width: 880px) {
	.title {
		min-width: 420px;
		max-width: 420px;
	}
}
@media only screen and (min-width: 1001px) {
	.windowControls {
		width: 15%;
	}
}
@media only screen and (max-width: 900px) {
	.logo, .title {
		display: none;
	}
	.search {
		display: none;
	}
	@supports(padding-top:env(safe-area-inset-top)) {
		.titleBar {
			padding-top: env(safe-area-inset-top);
			height: calc(env(safe-area-inset-top) + 60px);
		}
	}
}
