.starRating {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: center;
	
	margin-left: auto;
	margin-right: auto;
}
.reviewBasedOn {
	color: #AAAAAA;
	margin-left: 10px;
	font-size: 12px;
	margin-top: 6px;
}
.stars {
	display: flex;
	flex-direction: row;
	
	align-items: center;
}
.starNormal, .starFilled {

}
.starNormal {
  color: #c5c5c5;
  font-size: 30px;
  text-shadow: 0 1px 0 #a2a2a2;
} 
.starFilled {
  color: gold;
  font-size: 30px;
  text-shadow: 0 1px 0 #ab5414;
}