.windowFrame, .windowFrameMaximized, .webContainer {
	background-color: #0176e5;
	background: linear-gradient(90deg, rgba(1,118,229,1) 0%, rgba(12,40,80,1) 47%, rgba(14,71,161,1) 100%);
	background: linear-gradient(90deg, rgba(1,98,209,1) 0%, rgba(12,40,80,1) 47%, rgba(14,71,161,1) 100%);
	
	padding: 0px;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.windowFrame {
	border: 1px solid #000000;
	border-radius: 10px;
	position: relative;
}
.windowFrameMaximized {
	border: 0px solid #000000;
}
.webContainer {
	border-radius: 0px !important;
}
@media only screen and (max-width: 900px) {
	.windowFrame, .windowFrameMaximized, .webContainer {
		background: none;
		background-color: #0176e5;
	}
}