.subtitleContainer {
	display: flex;
	align-items: center;
}
.subtitleContainer svg {
	width: 30px;
	height: 30px;
	fill: #FFFFFF;
}
.subtitles {
	max-width: 400px;
	min-height: 65px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
.subtitleLine {
	background-color: rgba(0,0,0,0.6);
	padding: 5px;
	color: #FFFFFF;
	font-size: 18px;
	padding-left: 15px;
	padding-right: 15px;
	line-height: 26px;
}