.searchFieldOuter {
	display: block;
	position: relative;

	z-index: 1000;
	
	width: 100%;
	margin-right: 5px;
	transition: all 0.4s;
}
.searchIcon {
	position: absolute;
	pointer-events: none;
	top: 7px;
	left: 8px;
	z-index: 1001;
}
.searchIcon svg {
	fill: rgba(255,255,255,0.6);;
}
.searchField {
	display: block;
	width: 100%;
	min-width: 100px;
	max-width: 800px;
	padding: 6px;
	padding-top: 7px;
	font-size: 14px;
	background-color: rgba(0,0,0,0.2);
	padding-left: 40px;
	border-radius: 5px;
	border-width: 0px;
	/* border: 1px solid rgba(255,255,255,0.0); */
	margin-top: 1px;
	color: rgba(255,255,255,0.9);

	user-select: auto;
	-webkit-user-select: text;
	transition: all 0.4s;
}
.searchField::placeholder {
	color: rgba(255,255,255,0.6);
	transition: all 1s;
}
.searchFieldOuter:focus-within .searchField::placeholder {
	color: rgba(255,255,255,0.9);
}
.searchField:focus {
	/* border: 1px solid rgba(0,0,0,0.2); */
	outline: 0px solid #0176e5;
	
}
@media only screen and (max-width: 540px) {
	.searchField {
		height: 40px;
		font-size: 18px;
	}
	.searchIcon {
		top: 12px;
	}
}
@media only screen and (min-width: 540px) {
	.searchFieldOuter:focus-within {
		transform: scale(1.1);
	}
}

/*
@media only screen and (max-width: 320px) {
	.searchField {
		width: 190px;
		transition: all 0.4s;
	}
	.searchField:focus {
		width: 230px;
	}
}
*/