.searchPane {
	width: 100%;
	overflow: auto;

	height: calc(100% - 90px);
	
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 10px;

	background-color: #FFFFFF;
}
@media only screen and (max-width: 570px) {
	.searchPane {
		height: calc(100% - 60px);
	}
}
.searchResults:after {
	content: "";
	display: table;
	clear: both;
}
.searchPane h1 {
	padding-left: 10px;
}
.genreSelectArea {
	padding: 20px;
	padding-bottom: 10px;
	padding-top: 0px;
	position: relative;
	bottom: 10px;

	display: flex;
	align-items: center;
	justify-items: center;
}
.genreSelect {
	margin-left: 20px;
	max-width: 500px;
	flex: 1;
}